body {
	background-color: #FFFEF7;
	color: #123D14;
	font-family: 'Lato', sans-serif; 
	-webkit-font-smoothing: antialiased;

}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

main{
  min-height: 74.6px;
  max-width: 980px;
  padding-top: 40px;
  padding-right: calc(max(22px, env(safe-area-inset-left))); 
  padding-left: calc(max(22px, env(safe-area-inset-left))); 
  margin:0 auto;
}

header{
  min-height: 74.6px;
  max-width: 980px;
  padding-top: 40px;
  position: relative;
  padding-right: calc(max(22px, env(safe-area-inset-left))); 
  padding-left: calc(max(22px, env(safe-area-inset-left))); 
  margin:0 auto;

}

a {
	text-decoration: none;
}

.site-title{
	font-size: 4em;
	font-family: 'Baloo', cursive;
	color:#123D14;
    text-align: center;
    border-bottom: 2px dotted #AAA37E;

}
.site-title-link{
  color: #123D14; 
}

.site-title a:visited {
  color: #123D14;
}

ul{
	margin-block-start: 0;
	padding-inline-start:0;
}
li {

}

/* List with thumbnails */
.list-item {
	list-style-type: none;
    margin-bottom: 2em;
}

.inner {
  display: table-row;
  overflow: hidden;
}
.li-img {
  display: table-cell;
  vertical-align: middle; 
  width: 20%;
  padding-right: 1em;
}
.li-img img {
  display: block;
  width: 100%;
  height: auto;
}
.li-text {
  display: table-cell;
  vertical-align: top;
  width: 70%;
}
.li-head {
  font-family: 'Lato', sans-serif; 
  color:#123D14;
  font-size: 2em;
  font-weight: 900;
  line-height: 1;
  margin: 0 0 20px 0;
  padding-top: 20px;
}
.li-sub {
  font-family: 'Lato', sans-serif; 
  color:#123D14;
  font-size: 1.10em;
  font-weight: 400;
  line-height: 1.75;
  margin: 0;
}
.li-sub a {
  color:#123D14;
}

/* Star Rating */
.rate {
  float: left;
  height: 46px;
  text-align: left;
}
.rate:not(:checked) > input {
  position:absolute;
  /*top:-9999px;*/
display: none;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:40px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  /*content: 'â˜… ';*/
content: "\2605";
}
.rate > input:checked ~ label, .rate input[checked="checked"] ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

.overall-rating{
width: 100%;
float: left;
font-size: 14px;
margin-top: 5px;
color: #8e8d8d;
}

.statusMsg{
font-size: 16px;
padding: 10px !important;
border: 1.5px dashed;
}
.statusMsg.errordiv{
color: #ff4040;
}
.statusMsg.succdiv{
color: #00bf6f;
}

